# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/declarations/
/dist/
/dist-for-testing/

# dependencies
/node_modules/

# npm/pnpm/yarn pack output
*.tgz

# misc
.DS_Store
.env*
.eslintcache
yarn-error.log
